* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  text-autospace: normal;
}

html {
  overflow-x: hidden;
  color: rgb(var(--base-text-color));
}

body {
  background-color: rgb(var(--layout-color));
}

a {
  color: inherit;
  text-decoration: none;
}
